<h1>All Public Photos</h1>

<% if user_signed_in? %>
  <h2>Add a new photo</h2>
  <%= form_with model: Photo.new, url: "/photos", local: true do |form| %>
    <div>
      <%= form.label :image, "Image" %>
      <%= form.text_field :image %>
    </div>

    <div>
      <%= form.label :caption, "Caption" %>
      <%= form.text_area :caption %>
    </div>

    <div>
      <%= form.submit "Add photo" %>
    </div>
  <% end %>
<% end %>

<hr>

<h2>Public Photos</h2>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <% if !photo.owner.private? %> 
        <tr>
          <td><%= image_tag photo.image if photo.image.present? %></td>
          <td><%= link_to photo.caption, "/photos/#{photo.id}" %></td>
          <td><%= link_to photo.owner.username, "/users/#{photo.owner.username}" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">
       
      <label for="browser_input_image">
        Image
      </label>

      <input type="file" id="browser_input_image" name="query_image" placeholder="Enter URL for the image..." class="form-control">
    
      <label for="caption_box">
        Caption
      </label>

      <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>
    
    <button>
      Add photo
    </button>
  </form>
